
body {
background-color:#404040;
}
#box{
padding:5px;
width:500px;
height:100px;
    border: 1px solid #999;  
  background-color: #585858;
  color: #A0A0A0; 
}
button {
  text-decoration: none;
  
}
